LatexOutputScreen {
    layout: vertical;
}

#main {
    height: 1fr;
}
#status {
    height: 1;
}
#footer {
    height: 1;
}

Screen {
    layout: vertical;
}
Container#main {
    height: 1fr;
}
Container#status {
    height: 1;
}
Container#footer {
    height: 1;
}